/* This CSS is common to all pages */

body {
  background: hsl(0, 0%, 76%);
}

a:visited {
  color: blue;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: rgba(0, 0, 255, 0.9);
}

::selection {
  color: white;
  background: rgba(0, 0, 255, 0.9);
}

* {
  direction: ltr;
  /* font-family: Georgia; */
  font-family: Arial;
}

.tags {
  position: relative;
  color: #000;
  text-decoration: none;
}

.tags::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: blue;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.tags.active::before {
  visibility: visible;
  transform: scaleX(1);
}
