/* This CSS is common to all pages */
@import url("./reset.css");
@import url("./tokens.css");
@import url("./debug.css");

/* Base Styles */
body {
  background: var(--background-color);
  margin: 8px;
}
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: rgba(0, 0, 255, 0.9);
}
::selection {
  color: white;
  background: rgba(0, 0, 255, 0.9);
}

:root {
  font-family: var(--sansFont), -system-ui, system-ui, sans-serif;
  font-size: var(--baseTextSize);
  line-height: var(--line-height);
  color: var(--foreground-color);
  /* letter-spacing: -0.01em; */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-variant-ligatures: contextual common-ligatures;
  /* background-color: var(--letterbox-color); */
}
address,
article,
aside,
blockquote,
dd,
div.highlighter-rouge,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
ol,
p,
pre,
table,
tfoot,
ul,
video {
  margin-top: var(--blockSpacingTop);
  margin-bottom: var(--blockSpacingBottom);
}

/** Tweet **/
.twitter-tweet {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: auto;
}
