/* Tokens */
:root {
  --icon-outline-url: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.75' y='1.75' width='14.5' height='14.5' rx='.5' stroke='%23000' stroke-width='1.5'/%3E%3C/svg%3E");
  --icon-checkmark-url: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.7 9.3l3.4 3.3 5.7-5.7-1.5-1.6-4.2 4.2-1.8-1.8-1.6 1.6z' fill='%23000'/%3E%3C/svg%3E");
  --sansFont: "Arial";
  --titleFont: "InterDisplay";
  --monoFont: "IBM Plex Mono";
  --baseTextSize: 16px;
  --unit: calc(var(--baseTextSize) * 0.5);
  --line-height: calc(var(--baseTextSize) * 1.55);
  --baseline: var(--unit);
  --body-padding-x: calc(var(--unit) * 8);
  --body-padding-y: calc(var(--unit) * 8);
  --body-bleed: calc(var(--unit) * 16);
  --body-max-width: calc(var(--unit) * 152);
  --blockSpacingTop: 0px;
  --blockSpacingBottom: var(--line-height);
  --hr-weight: 2px;
  --h1-margin-bottom: var(--line-height);
  --h3-margin-bottom: calc(var(--unit) * 0.5);
  --column-gap: calc(var(--unit) * 8);
  --row-gap: calc(var(--unit) * 8);
  --column-gap-compact: calc(var(--unit) * 4);
  --row-gap-compact: calc(var(--unit) * 2);
  --displayScale: 1;
  --pixel: 1px;
  --foreground-color-rgb: 0, 0, 0;
  --foreground-color-a: 1;
  --foreground-color-a-dimmed: 0.4;
  --foreground-color: rgba(
    var(--foreground-color-rgb),
    var(--foreground-color-a)
  );
  --foreground-color-dimmed: rgba(
    var(--foreground-color-rgb),
    var(--foreground-color-a-dimmed)
  );
  --background-color-hsl: 0, 0%, 76%;
  --background-color: hsl(var(--background-color-hsl));

  --foreground-inverse-color: var(--background-color);
  --background-inverse-color: var(--foreground-color);
  /* --primaryA: hsl(240, 100%, 50%); */
  /* --primaryB: #00aaaa; */
  /* --letterbox-color: #333;
  --box-link-hover-color: rgba(var(--foreground-color-rgb), 0.07);
  --accent-color: var(--blue);
  --accent-color-darkmode: #9ac9fe;
  --menu-active-color: var(--foreground-color);
  --menu-inactive-color: rgba(0, 0, 0, 0.3);
  --red: #f03009;
  --red-orange: #ff2e00;
  --hot-orange: #ff5c00;
  --orange: #ff7105;
  --brown: #716558;
  --warm-yellow: #ffe310;
  --yellow: #fff310;
  --light-yellow: #ffffb3;
  --green: #12c05b;
  --ocean-green: #008f5d;
  --pear-green: #77dd86;
  --blue: #0366d6;
  --sunset-pink: #ff7b81;
  --light-pink: #ffb3ba;
  --xlight-pink: #ffd1d9; */
}
:root {
  --debugGrey05: hsla(0, 0%, 47.1%, 0.05);
  --debugGrey1: hsla(0, 0%, 47.1%, 0.1);
  --debugGrey2: hsla(0, 0%, 47.1%, 0.2);
  --debugRed2: rgba(238, 39, 17, 0.2);
  --debugBlue2: rgba(24, 113, 233, 0.2);
  --debugGreen2: rgba(18, 192, 91, 0.2);
  --debugYellow2: rgba(249, 191, 15, 0.2);
  --debugPink2: rgba(255, 0, 255, 0.2);
  --debugCyan2: rgba(20, 230, 245, 0.2);
  --debugCyan3: rgba(20, 230, 245, 0.3);
  --debugGrey4: hsla(0, 0%, 47.1%, 0.4);
  --debugRed4: rgba(238, 39, 17, 0.4);
  --debugBlue4: rgba(24, 113, 233, 0.4);
  --debugGreen4: rgba(18, 192, 91, 0.4);
  --debugYellow4: rgba(249, 191, 15, 0.4);
  --debugPink4: rgba(255, 0, 255, 0.4);
  --debugCyan4: rgba(20, 230, 245, 0.4);
  --debugGrey8: hsla(0, 0%, 47.1%, 0.8);
  --debugRed8: rgba(238, 39, 17, 0.8);
  --debugBlue8: rgba(24, 113, 233, 0.8);
  --debugGreen8: rgba(18, 192, 91, 0.8);
  --debugYellow8: rgba(249, 191, 15, 0.8);
  --debugPink8: rgba(255, 0, 255, 0.8);
  --debugCyan8: rgba(20, 230, 245, 0.8);
  --wireWeight: var(--pixel);
}
